# docker-compose.yml
version: '3.8'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sebtech_bot
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    volumes:
      - ./data:/app/data  # Host papkasiga bog'lash
      - bot_data:/app/data  # Nusxaviy volume
    restart: unless-stopped
    networks:
      - bot_network

volumes:
  bot_data:
    driver: local

networks:
  bot_network:
    driver: bridge