# docker-compose.yml
services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sebtech_bot
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    volumes:
      - ./data:/app/data
    restart: unless-stopped

    # ✅ XOTIRA OSHIRILDI
    deploy:
      resources:
        limits:
          memory: 2G          # ← 512M dan 2GB ga
        reservations:
          memory: 1G          # ← 256M dan 1GB ga